.layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #323232;
    opacity: 0.7;

    z-index: 3;
}

.my-report-popup {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;

    width: 70vw;
    height: 90vh;

    position: fixed;
    top: 67.5%;
    left: 50%;
    transform: translate(-50%, -70%);

    background: #fff;
    border-radius: 5px;

    z-index: 4;
}

.my-report-popup form {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.my-report-popup form textarea {
    min-height: 48rem;
}

.my-report-popup form .rp-nav-btn {
    margin-left: 1rem;
}