.my-flex-sec {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.my-flex-sec-left {
    width: 60%;
    /* background-color: green; */
}

.my-flex-sec-right {
    width: 40%;
    /* background-color: blue; */
}